{% extends 'art/base.html' %}
{% load static %}

{% block content %}
<h2>Meet The Artist</h2>
<div class="aboutc">
    <div class="aphoto">
        <img src="{% static 'art/images/deni.png' %}" alt="image">
        <div class="aiconbox">
            
            <div class="aicon">
                <a href="https://www.facebook.com/d.kamau.githinji/" ><img src="{% static 'art/images/fb.png' %}" alt="icon" width="40"></a>
            </div>
            <div class="aicon">
                <a href="mailto:deniskamau928@gmail.com" ><img src="{% static 'art/images/email.png' %}" alt="icon" width="40"></a>
            </div>
            <div class="aicon">
                <a href="https://www.instagram.com/d.kamau.githinji/" ><img src="{% static 'art/images/ig.jpg' %}" alt="icon" width="40"></a>
            </div>
                        
        </div>
    </div>
    <div class="atext">
        <div class="card">
            <p>
                "Welcome to Deni & Art Shop! My name is Kamau Githinji, a passionate artist dedicated to bringing creativity to life. 
            The Shop is my dream project to connect art lovers with one-of-a-kind creations."
            </p>
        </div>
    </div>
</div>
<div class="aboutc">
    <div class="atext ">
        <h3>My mission</h3>
        <p>
            "My mission is to make unique, hand-crafted art accessible to everyone."
        </p>
    
        <h3>Core Principle</h3>
        <p>
            "I value originality, quality craftsmanship, and fostering a deep connection between art and its admirers."
        </p>
    </div>
</div>
{% endblock %}
