{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Art Store{% endblock %}</title>
    <!-- Link to js file -->
    <script src="{% static 'art/javascript/main.js' %}"></script>
    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'art/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'art/css/art_listing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'art/css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'art/css/art_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'art/css/order.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'art/css/about.css' %}">

    <!-- Link to favicon -->
    <link rel="icon" href="{% static 'art/icons/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <!-- Header Section -->
            <header>
                <nav class="navbar">
                    <img src="{% static 'art/images/logo.png' %}" alt="Logo" width="100" class="logo">
                    
                    <div class="filterbox">
                        <form method="get" action="{% url 'art:art_list' %}">
                            <select name="category">
                                <option value="">All Categories</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="text" name="q" placeholder="Search art by name..." value="{{ request.GET.q }}" class="searchtext">
        
                            
                                <small class="showonmobile"><button type="submit">Go</button></small>
                            <label class="hideonmobile"><button type="submit" >Search</button></label>
                        </form>
                    </div>
                    
                    <div class="nav">
                        <div class="navlistbox">
                            <a href="{% url 'art:art_list' %}">Shop</a>
                            <a href="{% url 'art:view_cart' %}">Cart</a>
                            <a href="{% url 'art:contact' %}">Contact</a>
                            <a href="{% url 'art:about' %}">About</a>
        
                            {% if user.is_authenticated %}
                            <a href="{% url 'art:order_history' %}">MyOrders</a>
        
                            <a href="{% url 'art:custom_logout' %}">Logout</a>
                            {% else %}
                                <a href="{% url 'art:signup' %}">Signup</a>
                                <a href="{% url 'art:custom_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </div>
        
                    <button class="menu-button" onclick="toggleMenu()">☰</button>
        
                    <div class="collapsible">
                            <a href="{% url 'art:art_list' %}">Shop</a>
                            <a href="{% url 'art:view_cart' %}">Cart</a>
                            <a href="{% url 'art:contact' %}">Contact</a>
                            <a href="{% url 'art:about' %}">About</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'art:order_history' %}">MyOrders</a>
                            <a href="{% url 'art:custom_logout' %}">Logout</a>
                            {% else %}
                                <a href="{% url 'art:custom_login' %}">Login</a>
                                <a href="{% url 'art:signup' %}">Signup</a>
                            {% endif %}
                            <button onclick="closeMenu()">Close</button>
        
                    </div>
                    
                </nav>
            </header>
            <!-- Main Content Section -->
            <main>
                {% block content %}
        
                {% endblock %}
            </main>
        </div>
        <!-- Footer Section -->
        <footer id="footer" class="footer">
            <div class="container">
                <p>&copy; 2024 ArtShop. All Rights Reserved.</p>
                <p><a href="{% url 'art:about' %}">About Us</a> | <a href="{% url 'art:contact' %}">Contact</a></p>
            </div>
        </footer>
    </div>
   </body>
</html>
