{% extends 'art/base.html' %}

{% block title %}Login - Art Store{% endblock %}

{% block content %}


    <h1>Login</h1>

<div>
    <form method="post" style="background-color: gainsboro; display: flex; align-items: center; flex-direction: column;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >Login</button>
    </form>
</div>
    
<div class="backlink">
    <p>Don't have an account? <button><a href="{% url 'art:signup' %}">Sign up</a></button></p>
</div>

{% endblock %}
