
.art_listbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.art_card{
    background-color: #7ea05f9d;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    max-width: 20%;
    border-radius: 5px;
    box-shadow:1px 1px 5px black ;
}
.artimg{
    border-radius: 1px;
    max-height: 300px;
    overflow: hidden;
}
.heading{
    font-weight: bolder;
    width: 100%;
    text-decoration: underline;
    color: black;
}
.sellbox{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 3px;
}
.sellbox a{ 
    color: white;
}
.detailbutton{
    background-color:cadetblue;
    padding: none;
    padding: 5px;
    border-radius: 5px;
}
.detailbutton:hover{
    background-color: black;
}
.sellbox form{
    border: none;
    flex-grow: 5;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}
.art_image{
    width: 100%;
}
.priceline{
    background-color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .art_card {
        max-width: 40%; 
        padding: 2%;
    }
    .art_image{
        width: 100%;
    }

    .sellbox {
        align-items: center;
    }    
}

