.dartcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dartimage{
    text-align: center;
    width: 60%;
    padding: 1%;

}
.dimage{
    max-width: 60%;
}


.artdescription{
    padding: 1%;
    text-align: left;
}

.dbacklink{
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}
.dform{
    background-color: cadetblue;
}
.dbacklink button{
    border: solid 1px white; 
    text-decoration: none; 
}
.dbacklink a{
    text-decoration: none;
    color: white;
}
.db{
    display: flex;
    align-items: center;
}
/* Mobile Styles */
@media (max-width: 768px) {  
    .dartcontainer{
        flex-direction: column;
    }
    .dartimage{
        width: 100%;
    }
    .dimage{
        max-width: 100%;
    }
    
    
    .artdescription{
        width: 100%;
        text-align: left;
        margin-left: 2%;
    }
    .artdescription strong{
        text-decoration: underline;
    }
}
