.item-list{
    background-color: white;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #7ea05f9d;
    margin: 2%;
    padding: 8px;

}

.itemimg{
    flex-grow: 0;
}

.itemimg img{
    width: 100px;
    height: auto;
}

.item-details{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.removebutton{
    display: flex;
    justify-content: center;
}

.removebutton a{
    text-decoration: NONE;
    color: white;
}

.removebutton form{
    background-color:  #7ea05f9d;
}

.totals{
    width: 100%;
    background-color: cadetblue;
    color: white;
}

.cbottomnav{
    display: flex;
    flex-direction: column;
}
.buttonnavbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1%;
}
.buttonnavbox form{
    width: auto;
}
.buttonnavbox a{
    text-decoration: none;
    color: white;
}