.tcontainer{
    display: flex;
    justify-content: center;
}
.table{
    background-color:  #7ea05f9d;
}

.table th{
    background-color: #5FA082;
    color: white;
    padding: 2px;
}
.table td{
    background-color: white;
    text-align: left;
    padding: 4px;
}